$primary-color: #1E1E1E;
$secondary-color: #282828;
$faded: #636366;

$primary-text: white;
$secondary-text: black;

//color for leetcode difficulty
$easy: #00B8A3;
$medium: #E8B01F;
$hard: #FD365E;
$incomplete: #4A4A4A;

$font-family: "Inter", serif;
